<style>
    li{list-style: none;height: 30px;line-height: 30px;}
</style>
<div>
    <h5>订单详情</h5>
    <div class="detail">
        <ul>
            <li>订单编号：{$row.order_sn}</li>
            <li>
                订单状态：{if $row.status == 1}<span style="color: red">未付款</span>
                {elseif $row.status == 2}<span style="color: green">已支付</span>
                {elseif $row.status == 3}<span style="color: green">已发货</span>
                {elseif $row.status == 4}<span style="color: green">已签收</span>{/if}
            </li>
            <li>订单时间：{$row.createtime|date='Y-m-d H:i:s'}</li>
            <li>支付时间：{$row.paytime|date='Y-m-d H:i:s'}</li>
            <li>联系人：{$araeinfo.contact_name}</li>
            <li>联系人电话：{$araeinfo.contact_phone}</li>
            <li>收货地址：{$araeinfo.disarea}</li>
            <li>详细地址：{$araeinfo.address}</li>
            <li>商品列表：
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>商品名称</th>
                            <th>商品图片</th>
                            <th>份量</th>
                            <th>商品价格</th>
                        </tr>
                    </thead>
                    <tbody>
                    {volist name="detail" id="vo"  }
                    <tr>
                        <td>{$vo.product.name}</td>
                        <td><img src="{$vo.product.images}" width="60" height="50"></td>
                        <td>{$vo.skus.title}</td>
                        <td>{$vo.skus.price}元</td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </li>
        </ul>
    </div>
</div>
<div class="hide layer-footer">
    <label class="control-label col-xs-12 col-sm-2"></label>
    <div class="col-xs-12 col-sm-8">
        <button type="reset" class="btn btn-primary btn-embossed btn-close" onclick="Layer.closeAll();">{:__('Close')}</button>
    </div>
</div>
