<form id="edit-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label  class="control-label col-xs-12 col-sm-2">英文名称:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="name" name="row[name]" value="" data-rule="required;name" />
        </div>
    </div>
    <div class="form-group">
        <label  class="control-label col-xs-12 col-sm-2">中文名称:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="title" name="row[title]" value="" data-rule="required;title" />
        </div>
    </div>
    <div class="form-group">
        <label  class="control-label col-xs-12 col-sm-2">登录链接地址:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="loginurl" name="row[loginurl]" value=""  />
        </div>
    </div>
    <div class="form-group">
        <label  class="control-label col-xs-12 col-sm-2">应用key:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="appkey" name="row[appkey]" value=""/>
        </div>
    </div>
    <div class="form-group">
        <label  class="control-label col-xs-12 col-sm-2">应用密匙:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="appsecret" name="row[appsecret]" value=""/>
        </div>
    </div>
    <div class="form-group">
        <label  class="control-label col-xs-12 col-sm-2">回调地址:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="redirect_uri" name="row[redirect_uri]" value=""/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">是否授权登录:</label>
        <div class="col-xs-12 col-sm-8">
            <label><input id="row[istype]-normal" name="row[istype]" type="radio" value="1"> 授权</label>
            <label><input id="row[istype]-hidden" name="row[istype]" checked="checked" type="radio" value="0"> 不授权</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">排序:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="sort" name="row[sort]" value=""  />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">状态:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['normal'=>__('Normal'), 'hidden'=>__('Hidden')])}
        </div>
    </div>
    <div class="form-group hidden layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">确定</button>
            <button type="reset" class="btn btn-default btn-embossed">重置</button>
        </div>
    </div>
</form>