
<div class="panel panel-default panel-intro">
    <div class="panel-body">
        <div id="database" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">

                    <div class="row">
                        <div class="col-xs-4">
                            <h4>查询结果:</h4>
                        </div>
                        <div class="col-xs-8 text-right">
                            <form action="general.database/query" method="post" name="infoform" target="resultframe">
                                <input type="hidden" name="do_action" id="topaction" />

                                <div class="btn-group">
                                    <button data-toggle="dropdown" class="btn btn-primary btn-embossed dropdown-toggle" type="button">基础查询 <span class="caret"></span></button>
                                    <div class="row dropdown-menu pull-right" style="width:300px;">
                                        <div class="col-xs-6">
                                            <select class="form-control select-striped" id="tablename" name="tablename[]" multiple="multiple">
                                                <option value="fa_admin" title="">fa_admin<!--(0)--></option>
                                                <option value="fa_admin_log" title="">fa_admin_log<!--(0)--></option>
                                                <option value="fa_article" title="">fa_article<!--(0)--></option>
                                                <option value="fa_attachment" title="">fa_attachment<!--(0)--></option>
                                                <option value="fa_auth_group" title="">fa_auth_group<!--(0)--></option>
                                                <option value="fa_auth_group_access" title="">fa_auth_group_access<!--(0)--></option>
                                                <option value="fa_auth_rule" title="">fa_auth_rule<!--(0)--></option>
                                                <option value="fa_category" title="">fa_category<!--(0)--></option>
                                                <option value="fa_config" title="">fa_config<!--(0)--></option>
                                                <option value="fa_crontab" title="">fa_crontab<!--(0)--></option>
                                                <option value="fa_page" title="">fa_page<!--(0)--></option>
                                                <option value="fa_test" title="">fa_test<!--(0)--></option>
                                                <option value="fa_user" title="">fa_user<!--(0)--></option>
                                                <option value="fa_user_signin" title="">fa_user_signin<!--(0)--></option>
                                                <option value="fa_user_third" title="">fa_user_third<!--(0)--></option>
                                                <option value="fa_version" title="">fa_version<!--(0)--></option>
                                                <option value="fa_wechat_autoreply" title="">fa_wechat_autoreply<!--(0)--></option>
                                                <option value="fa_wechat_config" title="">fa_wechat_config<!--(0)--></option>
                                                <option value="fa_wechat_context" title="">fa_wechat_context<!--(0)--></option>
                                                <option value="fa_wechat_response" title="">fa_wechat_response<!--(0)--></option>
                                            </select>
                                        </div>
                                        <div class="col-xs-6">
                                            <ul id="subaction" class="list-unstyled">
                                                <li><input type="submit" name="submit1" value="查看表结构" rel="viewinfo" class="btn btn-primary btn-embossed btn-sm btn-block"/></li>
                                                <li><input type="submit" name="submit2" value="查看表数据" rel="viewdata" class="btn btn-primary btn-embossed btn-sm btn-block"/></li>
                                                <li><input type="submit" name="submit3" value="优化表" rel="optimize" class="btn btn-primary btn-embossed btn-sm btn-block" /></li>
                                                <li><input type="submit" name="submit4" value="修复表" rel="repair" class="btn btn-primary btn-embossed btn-sm btn-block"/></li>
                                                <li><input type="submit" name="submit5" value="优化全部表" rel="optimizeall" class="btn btn-primary btn-embossed btn-sm btn-block" /></li>
                                                <li><input type="submit" name="submit6" value="修复全部表" rel="repairall" class="btn btn-primary btn-embossed btn-sm btn-block" /></li>
                                            </ul>
                                        </div>
                                        <div class="clear"></div>
                                    </div>

                                </div>
                            </form>
                        </div>

                    </div>
                    <div class="well" id="resultparent">
                        <iframe name="resultframe" frameborder="0" id="resultframe" style="height:100%;" width="100%" height="100%"></iframe>
                    </div>
                    <form action="query.php" method="post" id="sqlexecute" name="form1" target="resultframe">
                        <input type="hidden" name="do_action" value="doquery" />
                        <div class="form-group">
                            <textarea name="sqlquery" placeholder="请输入SQL语句，支持批量查询，多条SQL以分号(;)分格" cols="60" rows="5" class="form-control" id="sqlquery"></textarea>
                        </div>

                        <input type="submit" class="btn btn-success btn-embossed" value="执行" />
                        <input type="reset" class="btn btn-default btn-embossed" value="重置" />
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
