<link rel="stylesheet" href="__HOME__/home/css/about.css">
{include file="public/header"}
{include file="public/top"}
        <div class="banner">
            <img src="__HOME__/home/img/18.png" alt="">
        </div>

        <div class="aboutsmall">
            <img src="__HOME__/home/img/8.png" alt="">
        </div>
        <div class="aboutusbox">
            <div class="aboutusContent">
                <div class="aboutusContent2">
                    <ul>
                        <li>
                            <div>
                                <img src="__HOME__/home/img/9.png" alt="">
                            </div>
                            更安全
                        </li>
                        <li>
                            <div><img src="__HOME__/home/img/10.png" alt=""></div>
                            更专业
                        </li>
                        <li>
                            <div><img src="__HOME__/home/img/11.png" alt=""></div>
                            更省心
                        </li>
                    </ul>
                </div>
                <p class="jieshao">

                    西安小野猫信息科技有限公司由“天屿电商”与“光芒影视”联合成立于2020年8月。公司自主开发的“吾境”电商助手已正式上线。
                    拥有专业的、完整的互联网电商孵化服务团队，是一家集供应链数据整合，程序开发，网店代运营，外贸平台开发，跨境电商孵化，畅销
                    产品为一体的互联网创新型公司。
                </p>
                <div class="aboutwujing">

                    <p>
                        <span>1、</span>针对有货源电商或自主品牌厂家，公司能提供包括策划、拍摄、开店、运营、推广在内的一站式综合服务。
                    </p>
                    <p>
                        <span>2、</span>针对个体创业及无货源电商，公司自主研发的“吾境”电商助手一键搞定，让你轻松无忧。“吾境”电商助手是目前国内针对于
                        电商服务的唯一一款全平台综合服务软件。对接平台包括天猫、淘宝、京东、拼多多、1688、亚马逊等。
                    </p>
                </div>
            </div>
            <div class="aboutnumber">
                <img src="__HOME__/home/img/22.png" alt="">
            </div>
        </div>




        {include file="public/footer"}
