<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于我们</title>
    <link rel="shortcut icon" href="__HOME__/home/img/xym.ico">
    <link type="text/css" href="__HOME__/home/css/base.css" rel="stylesheet">
    <link rel="stylesheet" href="__HOME__/home/css/about.css">
</head>
<body>
    <div class="boxAll">
        <div class="boxHeader">
            <div class="headLeft">
                <img src="__HOME__/home/img/Logo1.png" alt="">
            </div>
            <div class="headNav">
                <a href="{:url('index/index')}">
                    网站首页
                </a>
                <a href="#">
                    关于我们
                    <div class="navimg">
                        <img src="__HOME__/home/img/17.png" alt="">
                    </div>
                </a>
                <a href="{:url('index/production')}">产品中心</a>
            </div>
        </div>
        <div class="banner">
            <img src="__HOME__/home/img/18.png" alt="">
        </div>

        <div class="aboutsmall">
            <img src="__HOME__/home/img/8.png" alt="">
        </div>
        <div class="aboutusbox">
            <div class="aboutusContent">
                <div class="aboutusContent2">
                    <ul>
                        <li>
                            <div>
                                <img src="__HOME__/home/img/9.png" alt="">
                            </div>
                            更安全
                        </li>
                        <li>
                            <div><img src="__HOME__/home/img/10.png" alt=""></div>
                            更专业
                        </li>
                        <li>
                            <div><img src="__HOME__/home/img/11.png" alt=""></div>
                            更省心
                        </li>
                    </ul>
                </div>
                <p class="jieshao">

                    西安小野猫信息科技有限公司由“天屿电商”与“光芒影视”联合成立于2020年8月。公司自主开发的“吾境”电商助手已正式上线。
                    拥有专业的、完整的互联网电商孵化服务团队，是一家集供应链数据整合，程序开发，网店代运营，外贸平台开发，跨境电商孵化，畅销
                    产品为一体的互联网创新型公司。
                </p>
                <div class="aboutwujing">

                    <p>
                        <span>1、</span>针对有货源电商或自主品牌厂家，公司能提供包括策划、拍摄、开店、运营、推广在内的一站式综合服务。
                    </p>
                    <p>
                        <span>2、</span>针对个体创业及无货源电商，公司自主研发的“吾境”电商助手一键搞定，让你轻松无忧。“吾境”电商助手是目前国内针对于
                        电商服务的唯一一款全平台综合服务软件。对接平台包括天猫、淘宝、京东、拼多多、1688、亚马逊等。
                    </p>
                </div>
            </div>
            <div class="aboutnumber">
                <img src="__HOME__/home/img/22.png" alt="">
            </div>
        </div>




        <div class="footer">
            <div class="footercenter">
                <div style="height: 35px;"></div>
                <div class="footerLeft">
                    <div class="borderleft">
                        <h1>
                            西安小野猫信息科技有限公司
                        </h1>
                        <h2>
                            地址：西安市曲江区莱安中心T2
                        </h2>
                        <h3>
                            服务热线：888-88888888
                        </h3>
                    </div>
                </div>
                <div class="footercenter2">
                    <h4>在线留言</h4>
                    <div>
                        <span>*</span> 姓名：<input id="username" name="username" style="padding-left: 5px; color: #fff" type="text">
                    </div>
                    <div>
                        <span>*</span> 电话：<input id="mobile" name="mobile" style="padding-left: 5px; color: #fff" type="text">
                    </div>
                    <div>
                        <span>*</span> 备注：<input id="remark" name="remark" style="padding-left: 5px; color: #fff" type="text">
                    </div>
                    <div class="sub" style="cursor: pointer">
                        <img src="__HOME__/home/img/submit.png" alt="">
                    </div>
                </div>
                <div class="footeright">
                    <div>
                        <!-- <img src="" alt=""> -->
                    </div>
                    <span>
                        扫一扫添加微信关注
                    </span>
                </div>
            </div>
        </div>
        <div class="indexfooter">
            <p>版权所有@西安小野猫信息科技有限公司 &nbsp;&nbsp;&nbsp;&nbsp; 陕ICP备2020013263号-2 &nbsp;&nbsp;&nbsp;&nbsp; 技术支持：科技网络</p>
        </div>
    </div>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
        // 提交
        $(".sub").click(function(){
            let username = $('#username').val()
            let mobile = $('#mobile').val()
            let remark = $('#remark').val()

            $.post('/admin/index/web/add', {'username': username, 'mobile': mobile, 'remark': remark}, function (e) {
                if (e.status == 'success') {
                    alert('提交成功')
                }
            })
        })
    </script>

</body>
</html>
