<link rel="stylesheet" href="__HOME__/home/css/pro.css">
<style>
    body, html {height: 100%;}
    .zhezhao {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        background-color: rgba(0, 0 , 0, .5);
        display: none;
    }
    .probox {
        width: 400px;
        height: 250px;
        background-color: #fff;
        border-radius: 10px;
        text-align: center;
        padding-top: 50px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .boxerweima {
        width: 150px;
        height: 150px;
        background-color: salmon;
        margin: 0px auto 15px;
    }
    .zhifuprice {
        font-size: 16px;
    }
    .clone {
        width: 25px;
        height: 25px;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .clone img {
        width: 100%;
    }
</style>
{include file="public/header"}
{include file="public/top"}
        <div class="banner">
            <div class="pro_banner">
                <div class="bannerLeft">
                    <h1>【吾境—电商助手】下载</h1>
                    <span> 轻 | 松 | 做 | 好 | 甩 | 手 | 掌 | 柜 </span>
                    <div style="margin-top: 50px;">
                        <div class="price">
                            <div>服务周期：</div>
                            <div>价格：</div>
                        </div>
                        <ul>
                            <li class="li_active">一个月<br/><span>35￥</span></li>
                            <li>一季度<br/><span>95￥</span><a>9.0折</a></li>
                            <li>半年<br/><span>168￥</span><a>8.0折</a></li>
                            <li>一年<br/><span>294￥</span><a>7.0折</a></li>
                        </ul>
                    </div>
                    <div style="clear: both; height: 20px;"></div>
                    <span>累计销售：306套</span>
                    <div class="dinggou">
                        <img src="__HOME__/home/img/4.png" alt="">
                    </div>
                </div>
                <div class="bannergif">
                    <img src="__HOME__/home/img/5.png" alt="">
                </div>
            </div>
        </div>
        <!-- 弹框 -->
        <div class="zhezhao">
            <div class="probox">
                <div class="clone"><img src="__HOME__/home/img/clone.png" alt=""></div>
                <div class="boxerweima">

                </div>
                <div class="zhifuprice">
                    支付金额：<span>95</span>元
                </div>
            </div>
        </div>
        <div class="proadmin">
            <h1>
                <span><img src="__HOME__/home/img/left.png" alt=""></span>
                我们为您提供
                <span><img src="__HOME__/home/img/right.png" alt=""></span>
            </h1>
            <div>
                <img src="__HOME__/home/img/21.png" alt="">
            </div>
        </div>

{include file="public/footer"}
